// src/styles/_base.scss
@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0; 
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color-bg;
  min-height: 100vh;
  
  // WICHTIG: Die Opacity wird jetzt initial im HTML gesetzt!
  // Hier definieren wir nur die Transition, wenn es eingeblendet wird.
  transition: opacity 0.3s ease-in-out;
  
  overflow-x: hidden; 
  
  background-image:
    linear-gradient(to right, rgba(46, 43, 42, 0.07) 0, rgba(46, 43, 42, 0.07) 4px, transparent 4px),
    linear-gradient(to bottom, rgba(46, 43, 42, 0.07) 0, rgba(46, 43, 42, 0.07) 4px, transparent 4px);
  background-size: 34px 34px;
  background-repeat: repeat;
  
  color: $color-text;
  font-family: $font-family-main;
  line-height: 1.6;
  font-size: 16px;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color $trans-speed $trans-ease;

  &:hover {
    color: $color-accent;
  }
}

img, iframe {
  display: block;
  max-width: 100%;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}