// src/styles/_fonts.scss

/* rubik-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/rubik-v31-latin-300.woff2') format('woff2'); 
}

/* rubik-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/rubik-v31-latin-regular.woff2') format('woff2'); 
}

/* rubik-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/rubik-v31-latin-500.woff2') format('woff2'); 
}

/* rubik-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/rubik-v31-latin-700.woff2') format('woff2'); 
}

/* rubik-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/rubik-v31-latin-900.woff2') format('woff2'); 
}